<md-toolbar class="fixed-toolbar">
    <div class="md-toolbar-tools">
        {{ assessment.title }}
        <span flex></span>
        <md-button ng-if="false">
            Help
        </md-button>
        <md-button ng-click="reset()">
            Reset
        </md-button>
        <md-button class="md-button-colored" ng-click="submit()">
            Submit code
        </md-button>
    </div>
</md-toolbar>
<md-content class="md-content-padding" style="padding-top:66px;">

    <p>
        {{ assessment.instructions }}
    </p>

    <section ng-repeat="compilationUnit in Submissions.current.compilationUnits">
        <section
                ng-model="compilationUnit.code"
                ui-ace="AceConfig.config"
                style="height:500px;width:100%;font-size: 16px"></section>
    </section>

    <section class="result" ng-transclude ng-show="Submissions.current.result">

    </section>
    <!--<submission-result></submission-result>-->

</md-content>