<md-toolbar class="fixed-toolbar">
    <div class="md-toolbar-tools">
        {{ assessment.title }}
        <span flex></span>
        <md-button ng-if="false">
            Help
        </md-button>
        <md-button ng-click="reset()">
            Reset
        </md-button>
        <md-button class="md-button-colored" ng-click="onSubmit(submission)">
            Submit code
        </md-button>
    </div>
</md-toolbar>
<md-content class="md-content-padding" style="padding-top:20px;">

    {{ assessment.instructions }}

    <section ng-repeat="compilationUnit in assessment.providedCompilationUnits" style="padding-top:10px;">
        <h3>{{ compilationUnit.name }}.java</h3>
        <section
                ng-model="compilationUnit.code"
                ui-ace="AceConfig.config"
                readonly="true"
                style="height:300px;width:100%;font-size: 16px"></section>
    </section>

    <section ng-repeat="compilationUnit in submission.compilationUnits" style="padding-top:10px;">
        <h3>{{ compilationUnit.name }}.java</h3>
        <section
                ng-model="compilationUnit.code"
                ui-ace="AceConfig.config"
                style="height:300px;width:100%;font-size: 16px"></section>
    </section>

    </section>

</md-content>